<nav class="navbar navbar-expand-lg bg-body-tertiary border rounded-3 mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">The Knowledge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">

            <!-- LEFT SIDE -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'todo' %}active{% endif %}"
                        href="{{ url_for('todo_overview') }}">Todo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'deadlines' %}active{% endif %}"
                        href="{{ url_for('deadlines_overview') }}">Deadlines</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'ai_feedback' %}active{% endif %}"
                        href="{{ url_for('ai_feedback_overview') }}">AI Feedback</a>
                </li>
            </ul>

            <!-- RIGHT SIDE -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if active_page in ['export', 'version_control', 'learning'] %}active{% endif %}"
                        href="#" role="button" data-bs-toggle="dropdown">
                        Advanced
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item {% if active_page == 'export' %}active{% endif %}"
                                href="{{ url_for('export_page') }}">
                                Export
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item {% if active_page == 'version_control' %}active{% endif %}"
                                href="{{ url_for('version_control_overview') }}">
                                Version Control
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item {% if active_page == 'learning' %}active{% endif %}"
                                href="{{ url_for('learning_overview') }}">
                                Learning
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if active_page in ['hslu_semester_overview', 'hslu_semester_checklist'] %}active{% endif %}"
                        href="#" role="button" data-bs-toggle="dropdown">
                        HSLU
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item {% if active_page == 'hslu_semester_overview' %}active{% endif %}"
                                href="{{ url_for('hslu_semester_overview') }}">
                                Semester Overview
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item {% if active_page == 'hslu_semester_checklist' %}active{% endif %}"
                                href="{{ url_for('hslu_semester_checklist') }}">
                                Semester Checklist
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
